.Patriotic-Display {
  font-family:Arial, Helvetica, sans-serif;
  font-weight:700;
  height: 100em;
} 

.parallax1 {
  background-image: url("parallax/American_flag.jpg");
  min-height: 710px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 

.flag {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 5px;
  text-align: center;
  padding-top: 275px;
  font-size: 100px;
  color: white;
  font-style: italic;
  -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: blue;
}

.pledge {
  padding: 1em;
}

.parallax2 {
  background-image: url("parallax/bald-eagle-soaring.jpg");
  min-height: 710px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 

.eagle {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  padding-top: 275px;
  font-size: 60px;
  color: blue;
  font-style: italic;
  -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: red;
}

.second-amendment {
  padding: 1em;
}

.parallax3 {
  background-image: url("parallax/mil-marine-recruits-graduate-parris-island-1800.jpg");
  min-height: 710px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 

.marines {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  padding-top: 275px;
  font-size: 100px;
  color: yellow;
  font-style: italic;
  -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: red;
}

.semper-fidelis {
  padding: 1em;
}

.parallax4 {
  background-image: url("parallax/GettyImages-1219636757.jpg");
  min-height: 710px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 

.trump {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  padding-top: 275px;
  font-size: 60px;
  color: white;
  font-style: italic;
  -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: blue;
}

.maga {
  padding: 1em;
}
